@keyframes starpulse {
  from{opacity: 1;}
  to{opacity: 0.2;}
}
@keyframes sunfire{
  from{box-shadow: 0 0 50px #f5c91c;}
  to{box-shadow: 0 0 100px #f5c91c;}
}
@keyframes spin{
  from{transform: rotate(0);}
  to{transform: rotate(360deg);}
}
html,body{
  height: 100%;
  width: 100%;
}
#link{
  margin-top: 5px;
  margin-left: 5px;
}
#maint{
  color: white;
  position: relative;
  z-index: 6;
  margin-top: 5px;
  margin-left: 5px;
}
#universe{
  background: black;
  background: radial-gradient(grey,black);
}
#stars{
  height: 100%;
  width: 100%;
  background: url("stars.png");
  animation: starpulse 4s infinite alternate;
}
#sun{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  background: orange;
  border-radius: 100%;
  background: radial-gradient(#f5c313,#ec7308);
  box-shadow: 0 0 50px #f5c313;
  margin-top: -50px;
  margin-left: -100px;
  animation: sunfire 4s infinite alternate;
}
#earthorbit{
  border: solid 1px red;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  height: 700px;
  width: 600px;
  border-radius: 100%;
  animation: spin 30s linear infinite;
}
#earth{
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -220px;
  animation: spin 3s linear infinite;
}
#moonorbit{
  position: absolute;
  border: solid 1px red;
  height: 120px;
  width: 120px;
  margin-top: 110px;
  margin-left: -20px;
  border-radius: 100%;
  animation: spin 4s linear infinite reverse;
}
#moon{
  height: 20px;
  width: 20px;
  background: grey;
  border-radius: 100%;
  background: radial-gradient(#ddd,#888);
  margin-left: 20px;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
